@import "../../vars.css";


.container {
    position: relative;
    margin: 0% 10%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.mainPart {
    display: flex;
}

.title {
    color: var(--color-text);
    font-size: 2em;
    font-weight: bold;
    width: max-content;
}

.portrait {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex: 1;
}

.portrait img {
    width: 100%;
}


.aboutItems {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    flex: 2;
}

.aboutItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    padding: .5em;
    background-image: linear-gradient(90deg,
            rgba(165, 215, 232, 0.42) 0%,
            rgba(255, 255, 255, 0) 90%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
    gap: 20px;
}

.aboutItem:hover {
    background-size: 100% 100%;
}

.aboutItem div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;

}

.aboutItem img {
    height: 60px;
}

.aboutItem h3 {
    font-size: 1.5em;
    font-weight: bold;
}

.aboutItem p {
    font-size: 1.5em;
    font-family: var(--font-roboto);
}


.skills {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}


@media screen and (max-width:1000px) {
    .mainPart {
        flex-direction: column;
        gap: 2em;
    }

    .portrait img {
        display: none;
    }
}